.dropzone {
  text-align: center;
  padding: 50px 30px;
  border: 4px dashed #cecece;
  background-color: #f0f0f0;
  color: #6e6e6e;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 70%;
  height: 60vh;
  margin: 20px auto;
}

.selected-file {
  color: #000;
  font-weight: bold;
}

@media (max-width: 992px) { 
  .dropzone {
    width: 85%;
  }
}

@media (max-width: 768px) { 
  .dropzone {
    width: 90%;
  }
}

@media (max-width: 576px) { 
  .dropzone {
    width: 100%;
  }
}

